/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900);

/* overall */

body {
    background-color: #f2f2f2;
    font-family: "Raleway";
    font-weight: 200;
    font-size: 16px;
    color: #555;
    overflow-x: hidden; 
}

/* navigation */

/*makes sure the navbar is small & not distorted by brand logo*/
.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:30px !important;
    height: 28px;
}

.navbar {min-height:28px !important;
} 
/*general navbar styling*/
.navbar-trans {
    padding: 15px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-family: "lato", sans-serif;
    font-size: 14px;
    background-color: #fff
}

/*hover state over navbar*/
.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
  background-color:#f2f2f2;
}

/* highlight individual pages when active */
body#work a#worknav,
body#about a#aboutnav,
body#resume a#resumenav,
body#contact a#workcontact {
color: #fff;
background: #727272;
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}


/* titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "lato", sans-serif;
    color: #783b5d;
    font-weight: 200px;
    letter-spacing: 0.5px;
}

/* paragraphs */
p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

/* links */
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #727272;
}

.centered {
    text-align: center;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* WRAP SECTIONS */

/* welcome */
#welcome {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}

#welcome h1 {
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #783b5d;
}

#welcome h2 {
  color: #59cab6;
  font-weight: 400;
}

/* intro */
#intro {
  background-color: #783b5d;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 6px;
  border-radius: 6px;
  text-align: center;
  display: block;

}

#intro h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 35px;
}

#intro p {
  color: white;
  font-weight: 400;
  font-size: 20px;
}

/*about me*/
#aboutp {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 6px;
  border-radius: 6px;
  text-align: left;
  display: block;

}
/* footer */
.footer {
  padding-top: 20px;
  background-color: #fff;
  margin-top: 20px;
}

.footer p {
  text-align: right;
  font-size: 18px;
}

/* images */
.grid img {
    padding: 20px;
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}

.grid img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:translatZ(0) scale(1.15); /* Opera */
    transform:translatZ(0) scale(1.15);
}

/* about */

.bg {
  /*background: url('/img/menwall.jpg') no-repeat center center; */
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  top:0;
}

#main {
  margin-top:350px;
  position:relative;
  background:#fff;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Raleway Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("http://i68.tinypic.com/9lj1q1.jpg"); /*url used because Nishan & I couldn't figure out why local host wasn't pulling up the picture*/
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

/* Skills */
.progress {background: #f2f2f2; border-radius: 6px; height: 28px;}
.progress-bar-custom {background: #59cab6;}