/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,900);

/* overall */

body {
    background-color: #f2f2f2;
    font-family: "Dosis";
    font-weight: 200;
    font-size: 16px;
    color: #555;
    overflow-x: hidden; 
}

body.contact {
    padding-top: 100px;
}

/* navigation */

/*makes sure the navbar is small & not distorted by brand logo*/
.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:30px !important;
    height: 28px;
}

.navbar {min-height:28px !important;
} 
/*general navbar styling*/
.navbar-default {
    padding: 15px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    background-color: #fff
}

/*hover state over navbar highlighting pages*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #b2b2b2;
    color: #fff;
}

/* highlight individual pages when active */
body.work a.work, body.about a.about, body.resume a.resume, body.contact a.contact {
color: #fff;
background-color: #727272;
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}


/* titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    color: #783b5d;
    font-weight: 200px;
    letter-spacing: 0.5px;
    text-transform: uppercase !important;

}

#aboutheader{
  padding-top: 30px;
  padding-bottom: 20px;
}

/* paragraphs */
p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

/* links */
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #5FD8C3;
    font-family: "Lato";
}

.centered {
    text-align: center;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* WRAP SECTIONS */

/* welcome */
#welcome {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}

#welcome h1 {
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #783b5d;
}

#welcome h2 {
  color: #5FD8C3;
  font-weight: 400;
}

/* intro */
#intro {
  background-color: #783b5d;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 6px;
  border-radius: 6px;
  text-align: center;
  display: block;

}

#intro h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 35px;
}

#intro p {
  color: white;
  font-weight: 400;
  font-size: 20px;
}

/*about me*/
#aboutp {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 6px;
  border-radius: 6px;
  text-align: left;
  display: block;

}
/* footer */
.footer {
  padding-top: 20px;
  background-color: #fff;
  margin-top: 20px;
}

.footer p {
  text-align: right;
  font-size: 18px;
}

/* images */
.grid img {
    padding: 40px;
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}

.grid img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
}

/* about */

.bg {
  /*background: url('/img/menwall.jpg') no-repeat center center; */
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  top:0;
}

#main {
  margin-top:350px;
  position:relative;
  background:#fff;
}

/* parallax stuff */

.container {
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Dosis", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax-1 {
  background-image: url("http://i68.tinypic.com/9lj1q1.jpg"); /*url used because Nishan & I couldn't figure out why local host wasn't pulling up the picture*/
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

/*games I'm playing */

#skillheader{
  text-align: center;
}

#gamesheader{
  text-align: center;
}

.thumbnail{
  display: block;
  padding: 4px;  
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 4px;
}


 
/** page structure **/
#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}
 
#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
 
#thumbnails { display: block; margin-bottom: 10px; }
#thumbnails ul li { float: left; margin-right: 26px; margin-bottom: 12px; }


/* Skills */
.bar-main-container {
  margin: 10px auto;
  width: 300px;
  height: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #FFF;
}

.wrap { padding: 8px; }

.bar-percentage {
  float: left;
  background: rgba(0,0,0,0.13);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 9px 0px;
  width: 18%;
  height: 16px;
}

.bar-container {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 10px;
  background: rgba(0,0,0,0.13);
  width: 78%;
  margin: 12px 0px;
  overflow: hidden;
}

.bar {
  float: left;
  background: #FFF;
  height: 100%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* COLOR */
.green   { background: #5FD8C3; }

/*progress bars*/

#skill { 
  list-style: none;
  width: 296px;
  margin: 50px auto 0;
  position: relative;
  line-height: 2em;
  padding: 30px 0;
}

#skill li { 
  margin-bottom:50px; 
  background:#e9e5e2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
  background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
  height:20px; 
  border-radius:10px; 
  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;  
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   
}

#skill li h3 { 
  position:relative; 
  top:-25px;
}

.bar { 
  height:18px; 
  margin:1px 2px;  
  position:absolute;
  border-radius:10px;
  -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;  
  box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;   
}

.coffee {
  width:90%; 
  -moz-animation:coffee 2s ease-out;
  -webkit-animation:coffee 2s ease-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5FD8C3), to(#5FD8C3));
  background-image: -webkit-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: -moz-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: -ms-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: -o-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: linear-gradient(top, #5FD8C3, #5FD8C3);
}

.mario {
  width:80%;
  -moz-animation:mario 2s ease-out;
  -webkit-animation:mario 2s ease-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5FD8C3), to(#5FD8C3));
  background-image: -webkit-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: -moz-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: -ms-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: -o-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: linear-gradient(top, #5FD8C3, #5FD8C3);
}

.cat {
  width:55%;
  -moz-animation:cat 2s ease-out;
  -webkit-animation:cat 2s ease-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5FD8C3), to(#5FD8C3));
  background-image: -webkit-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: -moz-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: -ms-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: -o-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: linear-gradient(top, #5FD8C3, #5FD8C3);
}

.fencing {
  width: 70%;
  -moz-animation:fencing 2s ease-out;
  -webkit-animation:fencing 2s ease-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5FD8C3), to(#5FD8C3));
  background-image: -webkit-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: -moz-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: -ms-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: -o-linear-gradient(top, #5FD8C3, #5FD8C3);
  background-image: linear-gradient(top, #5FD8C3, #5FD8C3);
}

/* animation for progress bars*/
@-moz-keyframes coffee {0%  { width:0px;} 90%{ width:100%;}  }
@-moz-keyframes mario        { 0%  { width:0px;} 80%{ width:90%;}  }
@-moz-keyframes cat      { 0%  { width:0px;} 55%{ width:65%;}  }
@-moz-keyframes fencing   { 0%  { width:0px;} 70%{ width:80%;}  }
@-webkit-keyframes coffee       { 0%  { width:0px;} 90%{ width:100%;}  }
@-webkit-keyframes mario        { 0%  { width:0px;} 80%{ width:90%;}  }
@-webkit-keyframes cat      { 0%  { width:0px;} 55%{ width:65%;}  }
@-webkit-keyframes fencing   { 0%  { width:0px;} 70%{ width:80%;}  }

/*contact submit button*/

.btn-lg{
  background-color: #5FD8C3;
  border-color: #5FD8C3;
}