{% extends "templates/base.html" %}
{% block content %} 

<!-- parallax img of me -->

<!-- header of about me -->

<!-- img of face -->

<!-- paragraph about me-->

<!-- ???connect with me via drop down??? -->

<!-- skill circles -->

<!-- games I'm playing -->

<!-- Section 1 -->
<section class="module parallax parallax-1">
</section>

<body id="about">
<section class="module content">
  <div id="aboutp" class="container">
    <h1 align="center">Researcher. Designer. Gamer.</h1>
    <br>
    <p> Nice to meet you! I'm Meg.
        <br>
        <br>
        I am a <b>current Masters student at the <a href="https://www.si.umich.edu/">University of Michigan's School of Information</a></b>, specializing in <b><a href="https://www.si.umich.edu/academics/msi/human-computer-interaction-hci">Human-Computer Interaction</a></b>. My undergraduate degree is from <a href="https://www.msu.edu"/>Michigan State University</a>, where I majored in Chinese and Secondary Education. <b>Working as a teacher</b> has not only given me <b>people-skills necessary for user research</b>, but also the knowledge of <b>educational psychology</b> which gives me insights into design principles.
        <br>
        <br>
        Currently I am fueling my passion by working on multiple game-related projects. This semester I am working with <b>Electronic Arts as a UX Researcher</b>, while working out the details for an upcoming project with Turtle Rock. I always have room on my plate for more gaming experience, so feel free to reach out to me!
        <br>
        <br>
        As a gamer, I am always up for a challenge. I am passionate about expanding my design experiences, aiming to keep an open-mind at all times. There is always something new to learn, and somewhere new to travel, even if it may be virtually.
        <br>
        <br>
        Besides gaming and design, I keep my life active. <b>I practice graphic art and fence sabre regularly.</b> My past experience as a barista has gifted me with an encyclopedic knowledge of coffee, which helps keep me running. I am passionate about people, cats, and the intersection of society and tech.</p>
  </div>
</section>

<!-- skills 

    <div class="container">
        <div class="progress">
            <h4>Coffee Brewing</h4>
                <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                <span class="sr-only">90% Complete</span>
            <h5>Mario Kart</h5>
                <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                <span class="sr-only">75% Complete</span>
            <h6>Felinology</h6>
                <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                <span class="sr-only">50% Complete</span>
            <h7>Fencing</h7>
                <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                <span class="sr-only">80% Complete</span>
            </div>
          </div>
        </div>
   
    </div>
    CONTATINER END -->

</section>
</body>

    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE Illustrator & Photoshop FILE -->
    <!--<script src="assets/js/Illustrator & Photoshop-1.11.1.js"></script>-->
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <!--<script src="assets/js/bootstrap.js"></script>-->
    <!-- REQUIRED SKILL CHART SCRIPTS -->
    <!-- <script src="assets/js/Illustrator & Photoshop.easypiechart.min.js"></script> -->
      <!-- CUSTOM SCRIPTS --> 
{%endblock%}