{% extends "templates/base.html" %}
{% block content %} 

<body class="about">
<!-- to cancel parallax in mobile -->
<script>
var ismobile = /Android|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
if (ismobile){
}
</script>

<section class="module parallax parallax-1" alt="image of meg looking off to the left in front of graffiti wall">
</section>

<h1 align="center" id="aboutheader">Researcher. Designer. Gamer.</h1>
<div class="container">
  <div class="row">
    <div id="aboutp" class="col-xs-12 col-md-8" style="text-align:left">
      <p> Nice to meet you! I'm Meg.
          <br>
          <br>
          I am a current Masters student at the <a href="https://www.si.umich.edu/">University of Michigan's School of Information</a>, specializing in <a href="https://www.si.umich.edu/academics/msi/human-computer-interaction-hci">Human-Computer Interaction</a>. My undergraduate degree is from <a href="https://www.msu.edu"/>Michigan State University</a>, where I majored in Chinese and Secondary Education. Working as a teacher has not only given me people-skills necessary for user research, but also the knowledge of educational psychology which gives me insights into design principles.
          <br>
          <br>
          Currently I am fueling my passion by taking an internship with <a href="http://www.vectorform.com/">Vectorform</a>, a software design company for the summer. I also frequently pair up with gaming companies for user research & design projects. This upcoming Fall I will be working with <a href="http://www.glu.com/">Glu Mobile</a> as a UX researcher. I always have room on my plate for more gaming experience, so feel free to reach out to me!
          <br>
          <br>
          Besides gaming and design, I keep my life active. I practice graphic art and fence sabre regularly. My past experience as a barista has gifted me with an encyclopedic knowledge of coffee, which helps keep me running. I am passionate about people, cats, and the intersection of society and tech.</p>
    </div>

  <div class="row">
    <div class="col-xs-6 col-md-4">
        <br>
        <h2>Connect</h2>
        <p>
        <br>
      
          <a href="http://www.linkedin.com/in/greenmeg">LinkedIn</a>
          <br>
          <br>
          <a href="http://www.twitter.com/grmeg">Twitter</i></a>
          <br>
          <br>
          <a class="button" href="mailto:grmeg@umich.edu">Email</i></a>
          <br>
          <br>
          <a href="http://steamcommunity.com/id/pyrrhicvictini/">Steam</a>
      </p>
      <!-- skill progres bars -->
      <ul id="skill">
          <li><span class="bar coffee"></span><h3>Coffee Brewing</h3></li>
          <li><span class="bar mario"></span><h3>Mario Kart</h3></li>
          <li><span class="bar cat"></span><h3>Felinology</h3></li>
          <li><span class="bar fencing"></span><h3>Fencing</h3></li>
      </ul> 
    </div>
  </div>
</div>

<!-- games -->
<h4 id="gamesheader">Games I'm playing</h4><br>
<div class="row">
  <div class="col-lg-3 col-sm-4 col-xs-6">
      <a class="thumbnail" href="https://www.bungie.net/en/Legend/Gear/1/4611686018442085274/2305843009357024439" target="_blank">
           <img src="static/img/destiny.png" alt="destiny title" class="img-responsive">
      </a>
  </div>
  <div class="col-lg-3 col-sm-4 col-xs-6">
      <a class="thumbnail" href="http://www.tombraider.com/" target="_blank">
           <img src="static/img/tomb.png" alt="tomb raider definitive edition title" class="img-responsive">
      </a>
  </div>
  <div class="col-lg-3 col-sm-4 col-xs-6">
      <a class="thumbnail" href="http://splatoon.nintendo.com/" target="_blank">
           <img src="static/img/splatoon.png" alt="splatoon title" class="img-responsive">
      </a>
  </div>
  <div class="col-lg-3 col-sm-4 col-xs-6">
      <a class="thumbnail" href="http://www.zelda.com/majoras-mask/" target="_blank">
           <img src="static/img/majora.png" alt="majora's mask title" class="img-responsive">
      </a>
  </div>
</div>
</div>

{%endblock%}