{% extends "templates/base.html" %}
{% block content %} 

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="photo-gallery.js"></script>

<!-- parallax img of me -->

<!-- header of about me -->

<!-- img of face -->

<!-- paragraph about me-->

<!-- ???connect with me via drop down??? -->

<!-- skill circles -->

<!-- games I'm playing -->

<!-- Section 1 -->

<body class="about">
<section class="module parallax parallax-1">
</section>

<section class="module content">
  <div id="aboutp" class="container">
    <h1 align="center">Researcher. Designer. Gamer.</h1>
    <br>
    <p> Nice to meet you! I'm Meg.
        <br>
        <br>
        I am a <b>current Masters student at the <a href="https://www.si.umich.edu/">University of Michigan's School of Information</a></b>, specializing in <b><a href="https://www.si.umich.edu/academics/msi/human-computer-interaction-hci">Human-Computer Interaction</a></b>. My undergraduate degree is from <a href="https://www.msu.edu"/>Michigan State University</a>, where I majored in Chinese and Secondary Education. <b>Working as a teacher</b> has not only given me <b>people-skills necessary for user research</b>, but also the knowledge of <b>educational psychology</b> which gives me insights into design principles.
        <br>
        <br>
        Currently I am fueling my passion by working on multiple game-related projects. This semester I am working with <b>Electronic Arts as a UX Researcher</b>, while working out the details for an upcoming project with Turtle Rock. I always have room on my plate for more gaming experience, so feel free to reach out to me!
        <br>
        <br>
        As a gamer, I am always up for a challenge. I am passionate about expanding my design experiences, aiming to keep an open-mind at all times. There is always something new to learn, and somewhere new to travel, even if it may be virtually.
        <br>
        <br>
        Besides gaming and design, I keep my life active. <b>I practice graphic art and fence sabre regularly.</b> My past experience as a barista has gifted me with an encyclopedic knowledge of coffee, which helps keep me running. I am passionate about people, cats, and the intersection of society and tech.</p>
  </div>
</section>

<!-- fake kills -->
<ul id="skill">
    <li><span class="bar coffee"></span><h3>Coffee Brewing</h3></li>
    <li><span class="bar mario"></span><h3>Mario Kart</h3></li>
    <li><span class="bar cat"></span><h3>Felinology</h3></li>
    <li><span class="bar fencing"></span><h3>Fencing</h3></li>
</ul>  
</div>

<!-- games -->
  <div id="thumbnails">
    <ul class="clearfix">
      <li><a href="static/img/destiny.png"><img src="static/img/destiny.png" alt="destiny title"></a></li>

      <li><a href="static/img/tomb.png"><img src="static/img/tomb.png" alt="tomb raider definitive edition title"></a></li>
      
      <li><a href="static/img/splatoon.png"><img src="static/img/splatoon.png" alt="splatoon title"></a></li>

      <li><a href="static/img/majora.png"><img src="static/img/majora.png" alt="majora's mask title"></a></li>

</section>
</body>

    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE Illustrator & Photoshop FILE -->
    <!--<script src="assets/js/Illustrator & Photoshop-1.11.1.js"></script>-->
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <!--<script src="assets/js/bootstrap.js"></script>-->
    <!-- REQUIRED SKILL CHART SCRIPTS -->
    <!-- <script src="assets/js/Illustrator & Photoshop.easypiechart.min.js"></script> -->
      <!-- CUSTOM SCRIPTS --> 
{%endblock%}