<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Meg Portfolio</title>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- latest bootstrap & css -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- latest compiled and minified JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- personal CSS -->
    <link href = "static/css/stylinCSS.css" rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <!-- source for lightbox -->
    <link rel="stylesheet" type="text/css" media="all" href="/static/jsboot/java.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="static/img/tinyicon.png"/>

  </head>
    
  <!-- navigation -->

  <nav id="nav" class="navbar navbar-default navbar-fixed-top">
      <span>
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="../static/img/smolmono.png"></a>
            </div>

            <!--links collected into navigation-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="work.html" class ="work">Work</a>
                    </li>
                    <li>
                        <a href="about.html" class="about">About</a>
                    </li>
                    <li>
                        <a href="static/GreenUXResume.pdf" class="resume">Résumé</a>
                    </li>
                    <li>
                        <a href="contact.html" class="contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
      </span>
    </nav>

  {% block content %}
  I should never see this content.  It should be replaced.
  {% endblock %}

  <!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="navbar-left">
      <p> ©Copyright 2016 by Meg Green. All Rights Reserved. </p>
    </div>
    <div class ="navbar-right">
      <a href="http://www.linkedin.com/in/greenmeg"><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href="http://www.twitter.com/grmeg"><i class="fa fa-twitter-square fa-2x"></i></a>
      <a class="button" href="mailto:grmeg@umich.edu"><i class="fa fa-envelope-square fa-2x"></i></a>
      <a href="http://steamcommunity.com/id/pyrrhicvictini/"><i class="fa fa-steam-square fa-2x"></i></a>
    </div>
  </div>
</footer>

</body>
</html>

