{% extends "templates/base.html" %}
{% block content %} 

<body class="contact">
<h1 align="center">Send me a line!</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <p>I'm always up to talk to someone in the field. Or if you'd like, just email me at <a href="mailto:grmeg@umich.edu">grmeg@umich.edu</a>.</p>
    </div>
  </div>
</div>  

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="https://formspree.io/grmeg@umich.edu"id="contact-form" method="post" action="contact.php" role="form">
                    <fieldset>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="name" name="name" type="text" placeholder="Name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input type="email" required id="email" name="email" placeholder="Email Address" class="form-control">
                            </div>
                        </div

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Enter your text here. I will get back to you within 2 business days." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
{%endblock%}