{% extends "templates/base.html" %}
{% block content %} 

<body class="work" id="origin">
<div id="originheader">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <h1>Electronic Arts</h1>
        <h2>I signed an NDA!</h2>
      </div>
    </div>
  </div> <!-- /container -->
</div><!-- /welcome -->

<div id="intro">
  <div class="container">
      <div class="col-md-8">
        <img src="static/img/jimthumbsup.jpg" align="left" class="img-rounded" class="img-responsive" alt="jim giving a thumbs up in front of a whiteboard">
      </div>
      <div class="col-md-4" style="text-align:left">
        <p>During the Winter semester of 2016 I worked with a team of 3 on an EA title with EA's Redwood campus under the guidance of <a href="https://www.linkedin.com/in/apoorvabansal">Apoorva Bansal</a>. While we analyzed their game we focused on delightful factors in mobile games for children, as well as purchase intent from parents.</p>
      </div>
  </div><!-- /container -->
</div><!-- /intro -->

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-lg-4">
      <p><br><b>Client:</b> <a href="http://www.ea.com/">Electronic Arts</a>
        <br>
        <br>
        <b>Date:</b> Jan 2016 - April 2016
        <br>
        <br>
        <b>Team:</b> Jim Stanhope, Jeff Zhang, & Vispan Boocha
        <br>
        <br>
        <b>Roles:</b> User Experience Researcher
        <br>
        <br>
        <b>Tools:</b> User interviewing & testing, heuristic evaluation, personas, research, brainstorming
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-8">
      <h2>RESEARCH</h2>
      <p>Before diving into the game, I took it upon myself to research child psychology in relation to gaming, playtesting, and learning. My background as an educator jumpstarted my research. I then reported my findings to my team, educating them on how child psychology would affect our analysis of the game.

      <h3>PLAYTESTING</h3>
      <p>We held multiple seven playtesting sessions with our market audience of parents of young children. We recorded each session and payed close attention to the various pain points. After each session we interviewed the user to gain a better understanding of their experience with the game. </p>

      <h4>ANALYSIS</h4>
      <p>After 3 weeks of user testing, we held a brainstorming session to analyze our findings. Finally, we agreed upon necessary changes to the game to allow for a better gaming experience.</p>

      <h5>DELIVERABLES</h5>
      <p>Our team drafted a report of our official findings. We then presented these findings to our team at Electronic Arts. These findings will be used to guide future research with new builds.</p>
    </div>
  </div>
</div>

<hr>

<div class= "container">
<div class = "row top-buffer">
    <p style="text-align:center"><a href= "/">Back to Work</a></p>

     <div class = "col-sm-6 col-md-3">
        <a href="MLH.html"><img src="static/img/mlhsquare.png" alt="square logo that read michigan legal help" width="200" height="200"></a>
        </a>
     </div>
     
    <div class = "col-sm-6 col-md-3">
        <a href="EASports.html"><img src="static/img/eatile2.png" alt="square colored electronic arts sports logo" width="200" height="200"></a>
        </a>
     </div>
     
     <div class = "col-sm-6 col-md-3">
        <a href="TheOrigin.html"><img src="static/img/lat90square.png" alt="square logo that reads latidude 90 the origin" width="200" height="200"></a>
     </div>
     
     <div class = "col-sm-6 col-md-3">
        <a href="FitBark.html"><img src="static/img/fitbarksquare.png" alt="square logo with dog design that reads fit bark" width="200" height="200"></a>
     </div>
    </div>
  </div>
   
</div>
</section>
</body>
{%endblock%}