{% extends "templates/base.html" %}
{% block content %} 

<body>
<section id="home">

  <div id="welcome">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 centered">
            <h1>Meg Green</h1>
            <h2>UX Research & Design</h2>
          </div>
        </div>
      </div> <!-- /container -->
  </div><!-- /welcome -->


    <div id="intro">
      <div class="container">
        <div class="row">
          <p>
          I'm a Master's student at the University of Michigan. In my free time I take up gaming research projects.
          <br>
          <br>
          Have a look around, & feel free to contact me if you'd like to start up a project!</p>
          </div>
        </div><!-- /container -->
      </div><!-- /intro -->

  <div class="container">
    <div class="row centered mt grid">
      <div class="mt"></div>
      <div class="col-lg-4">
        <a href="#MLH"><img src="static/img/01.jpg" alt=""></a>
      </div>
      <div class="col-lg-4">
        <a href="#EAXfinity"><img src="static/img/02.jpg" alt=""></a>
      </div>
      <div class="col-lg-4">
        <a href="#EASports"><img src="static/img/03.jpg" alt=""></a>
      </div><!-- /mt -->
    </div> <!-- /row for first 3 images-->
    
    <div class="row centered mt grid">
      <div class="mt"></div>    
      <div class="col-lg-4">
        <a href="#TheOrigin"><img src="static/img/04.jpg" alt=""></a>
      </div>
      <div class="col-lg-4">
        <a href="#FitBark"><img src="static/img/05.jpg" alt=""></a>
      </div>
    </div> <!-- /row for last 3 images -->

  </div><!-- /container for images -->
</section>

</body>
</html>

{%endblock%}