{% extends "templates/base.html" %}
{% block content %} 

<body class="work">
<section id="home">

  <div id="welcome">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 centered">
            <h1>Meg Green</h1>
            <h2>UX Research & Design</h2>
          </div>
        </div>
      </div> <!-- /container -->
  </div><!-- /welcome -->


    <div id="intro">
      <div class="container">
        <div class="row">
          <p>
          I'm a Master's student at the University of Michigan. In my free time I take up gaming research projects.
          <br>
          <br>
          Have a look around, & feel free to contact me if you'd like to start up a project!</p>
          </div>
        </div><!-- /container -->
      </div><!-- /intro -->

  <div class="container">
    <div class="row centered mt grid">
      <div class="mt"></div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="MLH.html"><img src="static/img/mlhsquare.png" alt="circle logo that read michigan legal help" width="300" height="300"></a>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="EAXfinity.html"><img src="static/img/eatile1.png" alt="circle black and white electronic arts logo"width="300" height="300"></a>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="EASports.html"><img src="static/img/eatile2.png" alt="circle colored electronic arts sports logo" width="300" height="300"></a>
      </div><!-- /mt -->
    </div> <!-- /row for first 3 images-->
    
    <div class="row centered mt grid">
      <div class="mt"></div>    
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="TheOrigin.html"><img src="static/img/lat90square.png" alt="circle logo that reads latidude 90 the origin" width="300" height="300"></a>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="FitBark.html"><img src="static/img/fitbarksquare.png" alt="circle logo with dog design that reads fit bark" width="300" height="300"></a>
      </div>
    </div> <!-- /row for last 3 images -->

  </div><!-- /container for images -->
</section>

</body>
</html>

{%endblock%}