{% extends "templates/base.html" %}
{% block content %} 

<body class="work" id="origin">

<!--width="300" height="523"-->
<div class="container" id="originpictures">
     <ul class="row">
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
	        <img src="static/img/the_origin_join.jpg" width="150" height="261" alt="origin join screen #1">
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
	        <img src="static/img/the_origin_join2.jpg" width="150" height="261" alt="origin join screen #2">
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
	        <img src="static/img/the_origin_join3.jpg" width="150" height="261" alt="origin join screen #3">
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
	        <img src="static/img/the_origin_researcher.jpg" width="150" height="261" alt="researcher title and description">
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
	        <img src="static/img/the_origin_corruptor.jpg" width="150" height="261" alt="corruptor title and description">
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
	        <img src="static/img/the_origin_origin.jpg" width="150" height="261" alt="origin title and description">
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
	        <img src="static/img/the_origin_clue.jpg" width="150" height="261" alt="clue screen">
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
	        <img src="static/img/the_origin_test.jpg" width="150" height="261" alt="test screen">
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
	        <img src="static/img/the_origin_rules.jpg" width="150" height="261" alt="rules screen">
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
	        <img src="static/img/the_origin_package.jpg" width="150" height="261" alt="package send screen">
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
	        <img src="static/img/the_origin_package_open.jpg" width="150" height="261" alt="package open screen">
	    </li>
	    <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
	        <img src="static/img/the_origin_package_infected.jpg" width="150" height="261" alt="package infected screen">
	    </li>
	</ul>
</div>

</body>
{%endblock%}